<h1> Albums </h1>
<%= render 'flash' %>
<div>
<% @albums.each do |album| %>
  <ul>
    <li> <strong><%= link_to album.title , album %></strong>
    </li>
    <span> <%= album.artist %> </span>
    <br>
  </ul>
<% end %>
</div>
<br>
<%= link_to "Add new album", new_album_path %>
